<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Ninja Gold</title>
</head>

<style>
    .border {
        height: 119px;
        width: 132px;
        padding: 10px;
        border: 1px solid;
        display: inline-block;
        text-align: center;
        vertical-align: top;
    }
    
    .red {
        color: red;
    }
    
    .green {
        color: green;
    }
    
    #activity {
        width: 600px;
        height: 100px;
        overflow: scroll;
        border: 1px solid black;
        margin-top: 5px;
    }
    
    p {
        margin: 0px;
        padding: 0px;
    }
</style>

<body>
    <h3>Your Gold: <%= session[:gold]%> </h3>


    <div class="border">
        <p><b>Farm</b></p>
        <p>(earns 10-20 gold)</p>
        <form action="/add_money" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="building" value="farm" />
            <input type="submit" value="Find Gold!" />
        </form>
    </div>
    <div class="border">
        <p><b>Cave</b></p>
        <p>(earns 5-10 gold)</p>
        <form action="/add_money" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="building" value="cave" />
            <input type="submit" value="Find Gold!" />
        </form>
    </div>
    <div class="border">
        <p><b>House</b></p>
        <p>(earns 2-5 gold)</p>
        <form action="/add_money" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="building" value="house" />
            <input type="submit" value="Find Gold!" />
        </form>
    </div>
    <div class="border">
        <p><b>Casino</b></p>
        <p>(earns/loses 0-50 gold)</p>
        <form action="/add_money" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="building" value="casino" />
            <input type="submit" value="Find Gold!" />
        </form>
    </div>

    <p>Activities</p>
    <div id='activity'>
        <% for element in session[:activity] %>
        <p class = "<%= element[0] %>" > <%= element[1] %> </p>
        <% end %>           
    </div>

    <form action="/reset" method="post">
         <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="submit" value="reset" />
    </form> 
</body>

</html>